.orders{
    display: flex;
    justify-content: center;
    color: #555;

    .container{
        width: 1400px;
        padding: 50px 0px;

        @media screen and (max-width:1500px){
            width: 95vw;
        }

        .title{
            display: flex;
            justify-content: space-between;

            button{
                background-color: #1dbf73;
                color: white;
                font-weight: 500;
                border: none;
                padding: 10px;
                cursor: pointer;
            }
        }

        table{
            width: 100%;

            tr{
                height: 50px;
                th{
                    text-align: left;
                    @media screen and (max-width:720px){
                        text-align: center;
                    }
                }
                td{
                    padding: 10px;
                    text-align: left;
                    @media screen and (max-width:720px){
                        text-align: center;
                    }
                    sup{
                        font-size: 12px;
                    }
                    .image{
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 50%;

                        @media screen and (max-width:720px){
                            width: 40px;
                            height: 40px;
                        }
                    }
                    .message{
                        width: 20px;
                        cursor: pointer;
                    }
                }

                &:nth-child(even){
                    background-color: #1dbf730f;
                }
            }
        }
    }    
}